<style>
    .back-to-top i {
        opacity: 0;
    }
    .back-to-top.show i {
        opacity: 1;
    }
</style>
<a href="/" class="back-to-top" style="display: inline" id="goTop">
    <i>
        <img width="24px" height="24px" src="/img/simple-up.svg" alt="up"/>
    </i>
</a>
