<style>
    .no-image-found {
        position: absolute;
        width: 100%;
        text-align: center;
        top: calc(50% - 2rem);
        color: #999;
        opacity: 0.5;
    }

    .no-image-found img {
        display: block;
        position: static !important;
        width: 2rem !important;
        margin: auto;
    }
</style>
<div class="no-image-found">
    <img src="/img/camera-solid.svg" alt="no image"/>
    No image found
</div>
