<div class="blog search-container">
    <div class="sidebar">
        <div class="sidebar-item search-form">
            <form id="searchForm">
                <label>search<input name="inputText" id="search" type="text"/></label>
                <button type="submit">
                    <img src="/img/search-solid.svg" alt="search" width="14px" height="14px"/>
                </button>
            </form>
        </div>
    </div>
</div>
