.video-content {
    margin: 0 auto;
    height: 30rem;
    background: black;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

.spinner-container {
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.accordion-button {
    text-align: left;
}

.accordion-item.loading .accordion-header .accordion-button,
.accordion-item.loading .accordion-body ul {
    color: transparent !important;
    background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
    background-size: 400% !important;
    border: none;
    animation: loading 1.2s ease-in-out infinite;
    pointer-events: none;
}

.accordion-item.loading .accordion-header .accordion-button::after {
    display: none;
}

.accordion-item.loading .accordion-collapse {
    border: none;
}

.accordion-body ul {
    padding-left: 0;
}

.accordion-body ul li {
    list-style: none;
}

.accordion-body ul li img {
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
}

.accordion-body ul li span {
    cursor: pointer;
    color: #545454;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.accordion-body ul li span:hover, .accordion-body ul li span.active {
    color: #dc3545;
}

.accordion-button:not(.collapsed) {
    background-color: inherit;
}

.accordion-button:focus {
    border-color: rgba(0, 0, 0, .125);
    outline: none;
    box-shadow: none;
}

.video-content .actions.loading {
    display: none;
}

.video-content .actions {
    position: absolute;
    z-index: 21474836939999;
    bottom: 3rem;
    right: 3rem;
}

.video-content .actions button {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    color: #fff;
    transition: all 0.4s;
    border: none;
    background: rgba(233, 107, 86, .1);
    opacity: .5;
}

.video-content .actions button:hover {
    /*background: #dc3545;*/
    background: #e96b56;
    opacity: 1;
}

.plyr--video {
    width: 100%;
    height: 100%;
}

:root {
    --plyr-color-main: #e96b56;
}

.video-content.loading .play-center, .video-content.loading .plyr__controls {
    display: none;
}

.video-content.loading .plyr {
    opacity: 0;
}

.video-content .plyr {
    opacity: 1;
}

.plyr__controls__item.plyr__progress__container {
    pointer-events: none;
}
