.logo {
    display: flex;
    align-items: center;
}

.logo hr {
    margin: 0 12px;
    height: 40%;
    border-left: 1px solid #686f7a
}

.logo > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #545454;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.blog {
    padding: 0;
}

.blog .sidebar {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.blog .sidebar .sidebar-item {
    margin-bottom: 0;
}

.blog .sidebar .sidebar-item input {
    outline: none;
}

.search-container {
    width: 60%;
    display: flex;
    align-items: center;
}

.search-container .sidebar {
    width: 100%;
}

.blog .sidebar .search-form form input[type="text"] {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blog .sidebar .search-form form label {
    width: 100%;
    position: relative;
}
